.Global-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #3D3B8E;
    padding-left: 20px;
    z-index: 100;
}

.Nav-Links {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    gap: 25px;
    padding-left: 25px;
    margin: 0;
}

.Nav-Links a {
    color: #FFC300;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    padding: 10px 15px;
    text-decoration: none;
}
.Nav-Links a:hover {
    color: #ffe600;
    text-decoration: underline;
}

.logo {
    width: 75px;
    height: 75px;
}





main {
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

body {
    margin: 0;
    padding: 0;
    width: fill;
    height: 943px;  /* Höhe meines Bildschirms, abzüglich Suchleiste und Windowsbar */
    background-color: rgb(104, 131, 186);
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.lable{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}





.Willkommen-Content {
    /* Vermutlich unnötig*/
}

.Willkommen-Nachricht{
    background-color: rgba(104, 131, 186, 0.6);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    color: rgb(255,195,0);
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.Willkommen-Hintergrund {
    background-image: url("Kinder.png");
    filter: blur(5px);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Informations-Content {
    height: 1000px;
    display: flex;
    border: 5px solid;
    border-color: red;
    flex-direction: column;
}

.Aktuelle-Regionen {
    border: 5px solid;
    border-color: rgb(0, 0, 255);
}

.Reihe {
    display: flex;
    border: 5px solid;
    border-color: red;
    justify-content: center;
    gap: 100px;
    padding-bottom: 50px;
}

.Kriesengebiet {
    display: flex;
    height: 200px;
    width: 300px;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    border: 5px solid;
    border-color: rgb(0, 0, 255);
    border-radius: 25px;
    background-color: #3D3B8E;
    /* Weniger Abstand oben und zwischen Heading */
}

.Kriesengebiet p{
    word-wrap: normal;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.Kriesenbild {
    width: 35%;
    height: 35%;
}

.Mehr-Kriesengebiete {
    display: flex;
    justify-content: center;
    border: 5px solid;
    border-color: red;
}











.Spenden-Content {
    border: 5px solid;
    border-color: red;
}

.Spenden-Formular {
    border: 5px solid;
    border-color: rgb(0, 255, 21);
    display: flex;
    flex-direction: row;
}

.Perso-Infos {
    border: 5px solid;
    border-color: rgb(248, 158, 242);  
    padding-left: 10px;
    padding-right: 10px;
}

.Kleider-Auswahl {
    border: 5px solid;
    flex-grow: 1;
    border-color: rgb(191, 255, 0);  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.Füße {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.Oberkörper {
    display: flex;
    align-items: end;
    flex-direction: row;
    gap: 10px; 
}

.Kopf {
    position: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.Kopf input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.Kopf-Box {
    display: inline-block;
    height: 75px;
    width: 75px;
    position: relative;
    background-image: url('Kopf.png');
    background-size: cover;
    background-position: center;
    border: solid black;
    border-radius: 10px;
}
.Hand-L-Box {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    background-image: url('Hand-L.png');
    background-size: cover;
    background-position: center;
    border: solid black;
    border-radius: 10px;
}
.Torso-Box {
    display: inline-block;
    height: 150px;
    width: 150px;
    position: relative;
    background-image: url('Shirt.png');
    background-size: cover;
    background-position: center;
    border: solid black;
    border-radius: 10px;
}
.Hand-R-Box {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    background-image: url('Hand-R.png');
    background-size: cover;
    background-position: center;
    border: solid black;
    border-radius: 10px;
}
.Hose-Box {
    display: inline-block;
    height: 150px;
    width: 150px;
    position: relative;
    background-image: url('Hose.png');
    background-size:cover;
    background-position: center;
    border: solid black;
    border-radius: 10px;
}
.Schuh-R-Box {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    background-image: url('Schuh-R.png');
    background-size:cover;
    background-position: center;
    border: solid black;
    border-radius: 10px;
}
.Schuh-L-Box {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    background-image: url('Schuh-L.png');
    background-size:cover;
    background-position: center;
    border: solid black;
    border-radius: 10px;
}

/* On mouse-over, add a grey background color */
.Kopf:hover input ~ .Kopf-Box,
.Kopf:hover input ~ .Hand-L-Box,
.Kopf:hover input ~ .Torso-Box,
.Kopf:hover input ~ .Hand-R-Box,
.Kopf:hover input ~ .Hose-Box,
.Kopf:hover input ~ .Schuh-R-Box,
.Kopf:hover input ~ .Schuh-L-Box {
    background-color: #4d6595;
}
  
/* When the checkbox is checked, add a blue background */
.Kopf input:checked ~ .Kopf-Box,
.Kopf input:checked ~ .Hand-L-Box,
.Kopf input:checked ~ .Torso-Box,
.Kopf input:checked ~ .Hand-R-Box,
.Kopf input:checked ~ .Hose-Box,
.Kopf input:checked ~ .Schuh-R-Box,
.Kopf input:checked ~ .Schuh-L-Box {
    background-color: #374b75;
}
  
/* Create the Kopf-Box/indicator (hidden when not checked) */
.Kopf-Box:after,
.Hand-L-Box:after,
.Torso-Box:after,
.Hand-R-Box:after,
.Hose-Box:after,
.Schuh-R-Box:after,
.Schuh-L-Box:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the Kopf-Box when checked */
.Kopf input:checked ~ .Kopf-Box:after,
.Kopf input:checked ~ .Hand-L-Box:after,
.Kopf input:checked ~ .Torso-Box:after,
.Kopf input:checked ~ .Hand-R-Box:after,
.Kopf input:checked ~ .Hose-Box:after,
.Kopf input:checked ~ .Schuh-R-Box:after,
.Kopf input:checked ~ .Schuh-L-Box:after{
    display: block;
}

/* Style the Kopf-Box/indicator */
.Kopf .Kopf-Box:after,
.Kopf .Hand-R-Box:after,
.Kopf .Torso-Box:after,
.Kopf .Hand-L-Box:after,
.Kopf .Hose-Box:after,
.Kopf .Schuh-R-Box:after,
.Kopf .Schuh-L-Box:after  {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.Footer {
    background-color: #3D3B8E;
    width: 100%;
    left: 0;
    bottom: 0;
}

.Footer ul {
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.Footer a {
    color: #FFC300;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.Footer a:hover {
    color: #ffe600;
    text-decoration: underline;
}